@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;
}

.container{
    height: 600px;
    width: 1050px;
    background: #FFFFFF;
    box-shadow: 0px 20px 74px -40px #444444;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.leftSection{
    padding: 40px 20px;
    text-align: center;
}

.terms{
    margin-top: 50px;
}

.rightSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 468px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
}

.title h1{
    font-size: 30px;
    font-weight: normal;
    margin-left: 10px;
    color: #009653;
}

.social_media{
    display: flex;
    justify-content: center;
}

.social_media > div{
    margin: 20px 10px;
    font-size: 20px;
}

.social_media > div:hover{
    cursor: pointer;
}

.input_field{
    width: 500px;
}

.textField{
    margin: 20px;
}

.forgetMsg{
    text-align: start;
    width: 500px;
    display: flex;
    margin: 0 auto;
}

.signinBtn{
    margin-top: 20px;
}

@media only screen and (max-width: 1200px){
    .rightSection{
        display: none;
    }
    .container{
        justify-content: center;
        width: 750px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width: 400px;
    }
    .form{
        width: 370px;

    }
    .input_field{
        width: 320px;
    }
    .forgetMsg{
        margin-left: 20px;
    }
}